.bigDot {
  position: relative;
  min-height: 16em;
  min-width: 16em;
  background-color: #405c6a;
  border-radius: 50%;
  outline: none;
  transition:.1s ease-in-out;
}
.bigDot:hover {
  background-color: #324954;
  transition:.1s ease-in-out;
}
.bigDot:active {
  background-color: #9fd18b;
  transition:.1s ease-in-out;
}
.bigDot > img {
  padding: 25px;
  width: 16em;
  height: 16em
}
.productsContainer {
  padding: 25px 25px 25px 25px;
  grid-column: 1 / 1;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  row-gap: 2em;
  column-gap: 1em;
  align-items: center;
}
.chooseCourseContainer {
  grid-column: 1 / 1;
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
